/*FONTS*/
@font-face
  font-family: "SectraBook"
  src: url('https://fonts-1bbd3.kxcdn.com/GT-Sectra-Fine-Bold.eot?') format('eot'), url('https://fonts-1bbd3.kxcdn.com/GT-Sectra-Fine-Bold.otf') format('opentype'), url('https://fonts-1bbd3.kxcdn.com/GT-Sectra-Fine-Bold.ttf') format('truetype'), url('https://fonts-1bbd3.kxcdn.com/GT-Sectra-Fine-Bold.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "WalsheimThin"
  src: url('https://fonts-1bbd3.kxcdn.com/GT-Walsheim-Thin.eot?') format('eot'), url('https://fonts-1bbd3.kxcdn.com/GT-Walsheim-Thin.otf') format('opentype'), url('https://fonts-1bbd3.kxcdn.com/GT-Walsheim-Thin.ttf') format('truetype'), url('https://fonts-1bbd3.kxcdn.com/GT-Walsheim-Thin.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "navarrowsfont"
  src:  url('https://fonts-1bbd3.kxcdn.com/navarrowsfont.eot?nkyx1c')
  src:  url('https://fonts-1bbd3.kxcdn.com/navarrowsfont.eot?nkyx1c#iefix') format('embedded-opentype'), url('https://fonts-1bbd3.kxcdn.com/navarrowsfont.ttf?nkyx1c') format('truetype'), url('https://fonts-1bbd3.kxcdn.com/navarrowsfont.woff?nkyx1c') format('woff'), url('https://fonts-1bbd3.kxcdn.com/navarrowsfont.svg?nkyx1c#navarrowsfont') format('svg')
  font-weight: normal
  font-style: normal

$titles-font: 'SectraBook', sans-serif
$primary-font: 'WalsheimThin', sans-serif
$third-font: 'navarrowsfont', sans-serif