#footer-wrapper
  background: $primary-color
  padding: 3% 0
  .footer-block
    color: #fff
    font-size: 14px
    line-height: 21px
    letter-spacing: 0.075em
    font-family: $primary-font
    margin-bottom: 40px
    &__title
      display: block
      text-align: center
      text-transform: uppercase
    img
      margin-bottom: 20px
    a
      text-decoration: none
      color: #fff
      background: transparent
      transition: all .2s ease-in-out
      &:hover
        text-decoration: underline
  .back-to-top
    display: block
    width: 22px
    margin: 0 auto
    &:hover
      opacity: .5

