.gallery-image-wrapper
  a
    display: block
    min-height: 297.5px
    max-height: 297.5px
    margin-bottom: 30px
    cursor: zoom-in
    img
      max-width: 100%
      width: 100%
      -o-object-fit: cover
      object-fit: cover
      padding: 0
      margin: 0
      height: 100%
