/*LAYOUT STYLES*/
body
  background-color: #ebf0f0

.bg-primary
  background-color: #ffffff !important

.float__right
  float: right

@import 'header'
@import 'main-menu'
@import 'sidebar'
@import 'home'
@import 'rooms'
@import 'room'
@import 'gallery'
@import 'history'
@import 'contacts'
@import 'footer'
@import '404'

#main
  padding: 90px 0 80px
  .row
    margin-left: -15px
    margin-right: -15px


@media (max-width: $lg)
  #main
    padding: 90px 0 0