/*LAYOUT STYLES*/
body
  background-color: #ebf0f0

.bg-primary
  background-color: #ffffff !important

.float__right
  float: right

@import 'main-menu'

@import 'home'

main
  max-width: 1280px
  margin: 0 auto

.main__section
  padding-left: 0px
  padding-right: 0px

.sidebar
  padding: 60px 0 30px 15px
