/*main menu*/
#wrapper-navbar
  position: fixed
  width: 100%
  z-index: 999

#opener
  display: none
  &__menu
    display: none

.button
  &__mobile
    display: none

.navbar
  padding-left: 60px
  padding-right: 60px
  .menu-item
    margin: 10px 20px
    display: block
  .menu-item > a
    display: block
    outline: 0
    font-family: $titles-font
    text-decoration: none
    text-transform: uppercase
    color: #000000
    font-size: 12px
    letter-spacing: .1em
    line-height: 20px
    font-weight: 400
    padding: 5px 0px 1px
    border-bottom: 2px solid transparent
    -webkit-font-smoothing: antialiased
    &:hover
      border-bottom: 2px solid #000

  .current-menu-item a
    border-bottom-color: #000

.navbar-expand-xl .navbar-collapse
  justify-content: center

.custom-logo-link
  img
    width: 128px
    height: auto

@media (max-width: $xxl)
  .navbar
    .menu-item
      margin: 10px

@media (max-width: $xl)
  .custom-logo-link
    padding: 15px
    img
      width: 140px

  .wpml-ls-legacy-list-horizontal
    padding: 8px
    a
      outline: 0
      padding: 5px 7px
      span
        color: #000
        font-family: "WalsheimThin"
        font-size: 13.6px
        font-weight: 400
        letter-spacing: 0.1em

  .wpml-ls-current-language
    span
      text-decoration: underline

  .navbar
    padding: 0
    .menu-item
      margin: 0
      padding: 0 20px 0 15px
      a
        color: #000
        font-family: "WalsheimThin"
        font-size: 13.6px
        font-weight: 400
        line-height: 19px
        letter-spacing: 0.1em
        padding: 10px 0
        border-bottom: 1px solid #626262
        outline: 0
        &:hover
          border-bottom: 1px solid #626262
    &-toggle
      .icon-bar
        display: block
        width: 22px
        height: 2px
        margin-top: 4px
        border-radius: 1px
        background-color: #000

  .main-block
    &__btn--dark
      margin-left: 0
      margin-top: 10px

  .wpml-ls-legacy-dropdown
    display: none

  .button
    &__desktop
      display: none
    &__mobile
      display: block
      width: 100%

  .booking-bar
    &__container
      width: 100%
      padding: 5px 15px

  .lang-switcher-mobile
    margin-bottom: 25px

  .menu
    &__container--mobile
      padding-right: 18px

  #sb-container
    display: none

  #navbar-mobile
    border-top: 1px solid #000

  #opener
    display: block
    outline: 0
    background-color: transparent
    position: relative
    float: right
    padding: 11px 18px
    border: none
    &__menu
      min-height: calc(99vh - 60px)
      margin-top: 8px
      flex-basis: 100%
      flex-grow: 1
      align-items: center
      background-color: #ebf0f0
