.swiper-container-single-room
  overflow: hidden
  height: 600px
  margin-bottom: 30px
  background-color: $primary-color
  .swiper-pagination
    color: #fff
    width: 100%
    text-align: right
  .swiper-pagination-bullets
    bottom: 0
    padding-right: 20px
    padding-bottom: 4px
    padding-top: 1px
    .swiper-pagination-bullet
      width: 10px
      height: 10px
      background-color: #fff
      border: 1px solid #fff
      opacity: 1
      cursor: pointer
      margin: 0 3px
    .swiper-pagination-bullet-active
      background-color: $primary-color
      border: 1px solid #fff
  .swiper-button__single-room
    color: #fff
    &::after
      font-family: $third-font
  .swiper-button-prev
    &::after
      content: '\e900'

  .swiper-button-next
    &::after
      content: '\e901'

.swiper-button
  &__history
    color: $primary-color