.main-block
  position: relative
  padding-left: 0px
  padding-right: 0px
  margin-bottom: 30px
  width: 460px
  max-height: 625px
  min-height: 625px
  background-color: #ffffff
  &__btn-wrapper
    display: flex
    justify-content: left
    position: absolute
    bottom: 25px
    width: 100%
    padding: 0 28px
  &__btn
    width: 185px
    float: left
    margin-right: 30px
  &__title
    padding: 0px 28px
    margin-top: 23px
    color: #000000
    font-family: 'SectraBook'
    font-size: 22px
    line-height: 27px
    letter-spacing: 0.06em
    -webkit-font-smoothing: antialiased
  &__text
    padding: 0px 28px
    margin-top: 12px
    font-family: 'WalsheimThin'
    font-size: 14px
    line-height: 24px
