.button
  padding: 5px 30px
  font-family: WalsheimThin
  font-size: 12px
  letter-spacing: .1em
  font-weight: 400
  -webkit-font-smoothing: antialiased

.button .blue
  color: #ffffff
  background-color: #263a54
  border: 1px solid #263a54